<template>
  <Navbar/>
  <div>
    <NuxtPage/>
  </div>
  <Footer/>
</template>

<style lang="scss">
@import './src/scss/App';
</style>
<script setup lang="ts">
import Navbar from "~/layout/Navbar.vue";
import Footer from "~/layout/Footer.vue";
</script>