.dropdown {
  position: relative;
  display: inline-block;
  margin-right: -10px;
  .dropdown-btn {
    background-color: transparent;
    color: #767676;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
    svg {
      margin-top: 5px;
    }
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    width: 160px;
    z-index: 1;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding: 10px;
      transition: .3s;
      &:hover {
        display: flex;
        align-items: center;
        background-color: #ddd;
      }
      a {
        color: #767676;
        text-decoration: none;
        display: block;

      }
    }
  }
}

.dark-mode{
  .dropdown{
    .dropdown-btn{
      color: white;
    }
    .dropdown-menu{
      li{
        a{
          color: black;
        }
      }
    }
  }
}