.fonts{
  display: flex;
  flex-direction: column;
  .freefonts{
    margin: 15px;
    .search {
      position: relative;
      margin: 25pxsidebar;
      input {
        width: 700px;
        max-width: 100%;
        height: 35px;
        padding-left: 40px;
        background-color: rgba(128, 128, 128, 0.8);
        border: none;
        border-radius: 5px;
        &::-webkit-search-cancel-button {
          display: none;
        }
        &:focus {
          outline: none;
          color: white;
        }
        &::placeholder {
          color: white;
        }
      }
      svg {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        fill: white;
        width: 20px;
        height: 20px;
      }
    }
    .car{
      display: flex;
      flex-direction: column;
      ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style-type: none;
        grid-gap: 25px;
        margin: 25px;
        li{
          border: 3px solid red;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .fonts{
    .freefonts{
      .car{
        ul{
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
