@import '../font/font';

.Navbar_Container {
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: white;

    .title {
      h1 {
        color: #767676;
        font-weight: bold;
      }
      a {
        color: #767676;
      }
    }
    .search {
      position: relative;
      input {
        width: 700px;
        max-width: 100%;
        height: 35px;
        padding-left: 40px;
        background-color: rgba(128, 128, 128, 0.8);
        border: none;
        border-radius: 5px;
        &::-webkit-search-cancel-button {
          display: none;
        }
        &:focus {
          outline: none;
          color: white;
        }
        &::placeholder {
          color: white;
        }
      }
      svg {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        fill: white;
        width: 20px;
        height: 20px;
      }
    }


    .items {
      display: flex;
      align-items: center;
      gap: 25px;
      a {
        color: #767676;
        font-weight: bold;
      }
      .premium {
        background-color: black;
        padding: 10px 15px;
        border-radius: 5px;
        a {
          color: white;
          font-weight: bold;
        }
      }
    }

  }
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.dark-mode {
  .Navbar {
    background-color: #091a28;
    .title {
      h1 {
        color: #ffffff;
        font-weight: bold;
      }
      a {
        color: #ffffff;
      }
    }
    .items a {
      color: white;
    }

    .items .premium {
      background-color: white;

      a {
        color: #091a28;
      }
    }
  }
}



@media screen and (max-width: 768px) {
  .Navbar_Container{
    .Navbar{
      display: flex;
      flex-direction: column;
      .search{
        margin-bottom: 10px;
        margin-top: 10px;
        input{
          width: 320px;
        }
      }
      .darkbutton{
        display: none;
      }
    }
  }
}

