@font-face {
  font-family: Sansation;
  src: url("/public/font/Sansation_Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Sansation_Bold_Italic";
  src: url("/public/font/Sansation_Bold_Italic.ttf");
}

@font-face {
  font-family: 'Sansation_Light';
  src: url("/public/font/Sansation_Light.ttf");
}

@font-face {
  font-family: 'Sansation_Light_Italic';
  src: url("/public/font/Sansation_Light_Italic.ttf");
}

@font-face {
  font-family: 'Sansation_Italic';
  src: url("/public/font/Sansation_Italic.ttf");
}

@font-face {
  font-family: 'Sansation_Regular';
  src: url("/public/font/Sansation_Regular.ttf");
}


@font-face {
  font-family: SairaStencilOne;
  src: url("/public/font/SairaStencilOne-Regular.ttf" )  format('truetype');
}

@font-face {
  font-family: MontaguSlab;
  src: url("/public/font/MontaguSlab-VariableFont_opsz,wght.ttf" )  format('truetype');
}
