.Home_Container {
  .Home {
    display: flex;
    flex-direction: column;

    .top{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .title {
        margin-top: 15px;
        h1 {
          font-size: 60px;
          text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.79);
        }
      }

      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 130px;
        margin-top: 25px;
        .card {
          display: flex;
          flex-direction: column;
          height: 250px;
          width: 250px;
          background-color: rgba(217, 217, 217, 0.81);
          border-radius: 15px;
          padding: 15px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.79);

          p{
            font-size: 10px;
            color: #767676;
          }
          h4,
          p {
            margin: 0;

          }

          align-items: self-start;
          justify-content: flex-end;
        }
      }
    }
    .mid {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 740px;
        margin-top: 35px;
        margin-bottom: 35px;
        h1 {
          margin-left: 172px;
          text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.79);

        }
        a {
          margin-right: 180px;
          font-size: 13px;
          color: #767676;
        }
      }

      .t {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px 72px;

        .ta {
          display: flex;
          flex-direction: column;
          height: 200px;
          width: 200px;
          background-color: rgba(217, 217, 217, 0.81);
          border-radius: 15px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.79);
        }
      }
    }
    .bot {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 740px;
        margin-top: 35px;
        margin-bottom: 35px;
        h1 {
          margin-left: 172px;
          text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.79);

        }
        a {
          margin-right: 180px;
          font-size: 13px;
          color: #767676;
        }
      }

      .cardsFont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;

        .Font {
          position: relative;
          height: 350px;
          width: 300px;
          border-radius: 15px;
          overflow: hidden;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.79);
          background-size: 300px 350px;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &.bg1 {
            background-image: linear-gradient(to right, #ff7e5f, #feb47b),
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAWklEQVR42mJ8/8/A1BQnUQAAnUQMD/AOxAeSTbwSGwRBBoYRAGiFQZkQCZg0EJMBCXEWmQOQwAAAABJRU5ErkJggg==');
            background-color: rgba(255, 255, 255, 0.5); /* Arrière-plan semi-transparent */
          }

          &.bg2 {
            background-image: linear-gradient(to right, #5fcaff, #7bfeb4),
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAWklEQVR42mJ8/8/A1BQnUQAAnUQMD/AOxAeSTbwSGwRBBoYRAGiFQZkQCZg0EJMBCXEWmQOQwAAAABJRU5ErkJggg==');
            background-color: rgba(255, 255, 255, 0.5); /* Arrière-plan semi-transparent */
          }

          &.bg3 {
            background-image: linear-gradient(to right, #ff5f5f, #fb7b7b),
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAWklEQVR42mJ8/8/A1BQnUQAAnUQMD/AOxAeSTbwSGwRBBoYRAGiFQZkQCZg0EJMBCXEWmQOQwAAAABJRU5ErkJggg==');
            background-color: rgba(255, 255, 255, 0.5); /* Arrière-plan semi-transparent */
          }
          .title {
            h1 {
              font-size: 150px;
              margin: 0;
            }
            .st{
              font-family: SairaStencilOne, serif;
            }
            .ms{
              font-family: MontaguSlab, serif;
            }
          }

          .text {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
            .fontname{
              font-size: 13px;
              color: #767676;
              &.st{
                font-family: SairaStencilOne, serif;
              }
              &.ms{
                font-family: MontaguSlab, serif;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Home_Container{
    .Home{
      .top{
        .title{
          h1{
            font-size: 30px;
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.79);
          }
        }
        .cards{
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .mid{
        .title{
          h1{
            margin-left: 50px;
          }
          a{display: none}
        }
        .t{
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 5px;
        }
      }
      .bot{
        .title{
          h1{
            margin-left: 50px;
          }
          a{display: none}
        }
        .cardsFont{
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
