.Login_Content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajout d'une hauteur pour centrer verticalement */

  .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px; /* Largeur du formulaire */

    .left {

      form {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
        }

        input {
          margin-bottom: 15px;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          width: 300px;
        }

        button {
          padding: 8px 15px;
          width: 300px;
          border: none;
          background-color: #007bff;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
        }

        button:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
