*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(169, 168, 168, 0.7);
  font-family: Sansation, serif;
}

.dark-mode body {
  background-color: #091a28;
  color: white;
}

a{
  text-decoration: none;
}