<template>
  <div class="card">
    <h4>Author Name</h4>
    <p>{{ username }}</p>
  </div>
</template>

<script lang="ts">

export default defineComponent({
  props: {
    username: {
      type: String,
      required: true,
    },
  },
});
</script>
