<template>
  <div class="dropdown">
    <p @click="toggleDropdown" class="dropdown-btn">
      <span>{{ buttonText }}</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"></path></svg>
    </p>
    <ul v-if="isOpen" class="dropdown-menu">
      <li><NuxtLink to="/News">Les Nouveautés</NuxtLink></li>
      <li><NuxtLink to="/GoogleFonts">Les Fonts</NuxtLink></li>
      <li><a href="#">Option 3</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
      buttonText: "Design"
    };
  },
  methods: {
    toggleDropdown() {
      this.isOpen = !this.isOpen;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
