<!-- FontBlock.vue -->
<template>
  <div :class="['Font', 'bg' + bgClass]">
    <div class="title">
      <h1 :class="titleClass">{{ title }}</h1>
    </div>
    <div class="text">
      <p><span>Font Name</span></p>
      <p :class="['fontname', fontClass]">{{ font }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    bgClass: String,
    titleClass: String,
    fontClass: String,
    title: String,
    font: String
  }
}
</script>

<style scoped>
/* Ajoutez vos styles ici */
</style>
