<template>
  <div class="fonts">
    <div class="freefonts">
      <div class="search">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
          <path fill="white" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14"></path>
        </svg>
        <input type="text" v-model="searchQuery" placeholder="Rechercher une police">
      </div>

      <div class="car">
        <ul class="font-list">
          <li v-for="font in filteredFonts" :key="font.family">
            <div class="font-card">
              <h2>{{ font.family }}</h2>
              <p v-if="font.category">{{ font.category }}</p>
              <button @click="downloadFont(font)">Télécharger</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fonts: [],
      searchQuery: ''
    }
  },
  async mounted() {
    try {
      const response = await fetch(`https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyCyeVQNd8r0raAU4vrVOsIunJPZWc0Lnmg`)
      const data = await response.json()
      this.fonts = data.items
    } catch (error) {
      console.error('Erreur lors de la récupération des polices depuis Google Fonts:', error)
    }
  },

  computed: {
    filteredFonts() {
      return this.fonts.filter(font => {
        // Filtrer les polices en fonction de la recherche
        return font.family.toLowerCase().includes(this.searchQuery.toLowerCase());
      });
    }
  },

  methods: {
    downloadFont(font) {
      console.log('Téléchargement de la police:', font.family)
    }
  }
}
</script>
