<template>
  <div class="Home_Container">
    <div class="Home">
      <div class="top">
        <div class="title">
          <h1>TOP TENDANCES</h1>
        </div>
        <div class="cards">
          <Card v-for="username in cardUsernames" :key="username" :username="username" />
        </div>
      </div>
      <div class="mid">
        <div class="title">
          <h1>Les Nouveautés</h1>
          <NuxtLink to="/News">See All</NuxtLink>
        </div>
        <div class="t">
          <div class="ta" v-for="index in 8" :key="index"></div>
        </div>
      </div>
      <div class="bot">
        <div class="title">
          <h1>TOP FONTS</h1>
          <NuxtLink to="/GoogleFonts">See All</NuxtLink>
        </div>
        <div class="cardsFont">
          <FontBlock bgClass="1" titleClass="" fontClass="" title="SA" font="Sansation" />
          <FontBlock bgClass="2" titleClass="st" fontClass="st" title="ST" font="Saira stencil one" />
          <FontBlock bgClass="3" titleClass="ms" fontClass="ms" title="MS" font="Montagu Slab" />
        </div>

      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const cardUsernames = ["NapoTwiixe", "RomainMunier", "NapoTwiixe"];
</script>

