<template>
  <div class="Login_Content">
    <div class="Login">
      <div class="left">
        <form @submit.prevent="handleSubmit">
          <label for="username">Username or Email:</label>
          <input type="text" id="username" v-model="form.username" placeholder="Username or Email">
          <label for="password">Password:</label>
          <input type="password" id="password" v-model="form.password" placeholder="Password">
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="right">
        <div class="img">
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

interface LoginForm {
  username: string;
  password: string;
}

const form = ref<LoginForm>({
  username: '',
  password: ''
});

const handleSubmit = () => {
  // Process your form data here
  console.log('Submitted Form:', form.value);
};
</script>

<style scoped>
/* Your CSS styles here */
</style>
